* {
	box-sizing: border-box;
}

html, body {
	margin: 0;font-family: 'Source Sans Pro', sans-serif;
}

header, footer { background-color:#6A0888; 
	color:white;


}

.centered {margin:auto; width: 60%; padding-top:15px; padding-bottom: 15px;

}

header .subtitle {

}

h1 {

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main { margin:auto; width: 50%; padding-top:15px; padding-bottom: 15px;

}

section {

}

h2 {color: purple; border-bottom: 1px solid purple; 

}

h3 {color: purple;

}

p {

}

.details {

}

.object {color: purple;

}

.object:after {
	content: " | ";
}

footer h2 {

}